*{
	box-sizing: border-box;
}
body{
	background-image: url(../images/img-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#titre{
	height: 75px;
	background-color: black;
	text-align: center;
	margin-right: 0;
}
#icone-titre{
	float: left;
	width: 5%;
	height: 100%;
	background-color: black;
	background-size: cover;
}
#lePlaisirDeJouer{
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding-top: 15px;
}
.pageConnect{
	margin-top: 50px;
}
.loginform{
	background-color:  #7799DB;
	padding: 10px 10% 30px 70px;
	font-size: 30px;
	border-radius: 4px 4px;
	color: #FFFFFF;
}
.form_container{
	background: #FFEBEB;
	padding: 20px;
}
.myform input{
	background-position: 95%;
	background-repeat: no-repeat;
	height: 50px;
	border: 1px solid #2F80ED;
}
#login{
	background-image: url('../images/icones/ic-login.png');
}
#password{
	background-image: url('../images/icones/ic-password.png');
}
.btn_connexion{
	border: 1px solid #FFFFFF;
}
#sinscrire{
	font-weight: bold;
	text-decoration: none;
	float: right;
}
/* .deconnexion{
	float: right;
} */
/* page admin */
.photoAdmin{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 86px;
	height: 92px;
	border-radius: 50%;
} 
.accueil{
	height: 100vh;
	background-color: #FFFFFF;
}
.header_admin, .liste_esp_admin{
	background-color: #7799DB;
}

.menu ul li a{
	color: white;
}
.pageInscription{
	background-color: #FFEBEB;
}